.track {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    color: white;

    &b {
        letter-spacing: 1px;
        font-size: 15px;
        color: white;
    }

    &p {
        letter-spacing: 1px;
        color: #ffffff;
        font-size: 15px;
    }
}

.credits {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.preview {
    width: 36px;
    height: 36px;
    border-radius: 10px;
}

.playing * {
    color: #007fff !important;
}
